<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>Time_Tracker_Interface</servlet-name>
        <servlet-class>apps.Time_Tracker_Interface</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Create_Task</servlet-name>
        <servlet-class>apps.Create_Task</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Finish_Selected_Task</servlet-name>
        <servlet-class>apps.Finish_Selected_Task</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Tasks</servlet-name>
        <servlet-class>apps.Delete_Tasks</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Time_Tracker_Interface</servlet-name>
        <url-pattern>/time-tracker-interface</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Create_Task</servlet-name>
        <url-pattern>/create-task</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Finish_Selected_Task</servlet-name>
        <url-pattern>/finish-selected-task</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Tasks</servlet-name>
        <url-pattern>/delete-tasks</url-pattern>
    </servlet-mapping>
</web-app>
